@using Page = zavrsni.Page
@model zavrsni.Models.EditPageModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit existing page:</h2>
<div id="result" class="alert alert-info"></div>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "result", OnSuccess = "setTimeout(function () { window.location.reload() }, 3000);" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group" style="margin-top: 10px !important;">
        @Html.LabelFor(model => model.PageTitle, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.PageTitle, new { @class = "form-control", style = "font-size: 20px;" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Privacy, htmlAttributes: new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownList("PrivacyDropDown", Model.Privacy, "Select your page:", new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.Privacy, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">Added tags: </span>
        <div class="col-md-10" style="margin-bottom: 10px;">
            @foreach (PageTag p in Model.TagList)
            {
                if (p.Tag.name != null)
                {
                    <a href="@Url.Action("DeleteTag", "Page", new { IDtag = p.IDtag, IDpage = p.IDpage, Username = Model.Username })">@p.Tag.name; </a>

                }
            }
            @if (Model.TagList.Count == 0)
            {
                <span>No tags are added ... yet! </span>
            }
            <span>(Click on the tag to remove it from this page!)</span>
        </div>
    </div>

    <div class="form-group" style="margin-top: 10px !important;">
        @Html.LabelFor(model => model.Tag, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Tag, new {@class = "form-control", style = "font-size: 20px;"})
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">Added contributors: </span>
        <div class="col-md-10" style="margin-bottom: 10px;">
            @foreach (Contributor p in Model.ContributorList)
            {
                if (p.User.Username != null)
                {
                    if (p.IsAuthor == true)
                    {
                        <span style="font-weight: bolder;">@p.User.Username (author); </span>
                    }
                    else
                    {
                        <a href="@Url.Action("DeleteContributor", "Page", new { IDpage = p.IDpage, IDuser = p.IDuser, Username = Model.Username })">@p.User.Username; </a>
                    }
                }
            }
            @if (Model.ContributorList.Count == 0)
            {
                <span>No contributors are added ... yet! </span>
            }
            <span>(Click on the contributor to remove him/her from this page!)</span>
        </div>
    </div>

    <div class="form-group" style="margin-top: 10px !important;">
        @Html.LabelFor(model => model.Contributor, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Contributor, new { @class = "form-control", style = "font-size: 20px;" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" class="btn btn-default" id="submitButton" value="Save" />
            <a href="@Url.Action("Index", "Page", new { Username = Model.Username })"><span class="btn btn-default">Return to pages list</span></a>

        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#result").hide();

        $("#submitButton").on("click", function () {
            $("#result").show();
        });
    });
</script>