@using Microsoft.AspNet.Identity
@model zavrsni.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<h4>Account info: </h4>
<table class="table">
    <tr>
        <th style="width: 15%;">Username</th>
        <td>@User.Identity.GetUserName()</td>
    </tr>
    <tr>
        <th style="width: 15%;">E-mail address</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th style="width: 15%;">First name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th style="width: 15%;">Last name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th style="width: 15%;">Member of groups</th>
        <td>

            @foreach (BelongsToGroup b in Model.GroupMember)
            {
                if (b.Group.Name != null)
                {
                    <p>@b.Group.Name; </p>
                }
            }
            @if (Model.GroupMember.Count == 0)
            {
                <span>No groups are added ... yet! </span>
            }
        </td>
    </tr>
    <tr>
        <th style="width: 15%;">City</th>
        <td>@Model.City</td>
    </tr>
    <tr>
        <th style="width: 15%;">Or other actions:</th>
        <td><a href="@Url.Action("Edit", "Manage")"><span class="btn btn-special glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
        </td>
    </tr>
</table>

    @*<h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>

                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
    *@
    @*
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None") [
                @if (Model.PhoneNumber != null)
                {
                    @Html.ActionLink("Change", "AddPhoneNumber")
                    @: &nbsp;|&nbsp;
                    @Html.ActionLink("Remove", "RemovePhoneNumber")
                }
                else
                {
                    @Html.ActionLink("Add", "AddPhoneNumber")
                }
                ]
            </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
    @*@if (Model.TwoFactor)
                    {
                        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Enabled
                            <input type="submit" value="Disable" class="btn btn-link" />
                            </text>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>Disabled
                            <input type="submit" value="Enable" class="btn btn-link" />
                            </text>
                        }
                    }
            </dd>
        </dl>*@