@model zavrsni.Models.ContentDetails
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table details">
    <tr>
        <th>IDcontent</th>
        <td>@Model.IDcontent</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Author</th>
        <td>@Model.Author</td>
    </tr>
    <tr>
        <th>Content Type</th>
        <td>@Model.ContentType</td>
    </tr>
    <tr>
        <th>Editor</th>
        <td>@Model.Editor</td>
    </tr>
    <tr>
        <th>Time changed</th>
        <td>@Model.TimeChanged</td>
    </tr>
    <tr>
        <th>Text</th>
        <td class="details-text">@Html.Raw(Model.Text)</td>
    </tr>
    <tr>
        <th>Actions</th>
        <td><a href="@Url.Action("Edit", "Content", new { IDcontent = Model.IDcontent })"><span class="btn btn-special glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
            <a href="@Url.Action("Delete", "Content", new { IDcontent = Model.IDcontent })"><span class="btn btn-special glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
    </tr>
</table>



<p>
    Do you want to see the other contents you have posted? @Html.ActionLink("Go back to the list of your posted contents!", "ViewContent")
</p>