@using Page = zavrsni.Page
@model zavrsni.Models.Contents

@{
    ViewBag.Title = "Edit";
}

<h2>Edit existing content:</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.TextAreaFor(m => m.Text, new {htmlAttributes = new {id = "editor1", name = "editor1"}})

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group" style="margin-top: 10px !important;">
        @Html.LabelFor(model => model.Title, new {@class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Title, new {@class = "form-control", style = "font-size: 20px;"})
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">Used in pages: </span>
        <div class="col-md-10" style="margin-bottom: 10px;">
            @foreach (Page p in Model.Pages)
            {
                if (p.name != null)
                {
                    <span>@p.name; </span>
                }
            }
            @if (Model.Pages.Count == 0)
            {
                <span>No pages with this content are found! </span>
            }
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Page, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("PageDropDown", Model.Page, "Select your page:", new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.Page, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContentType, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("ContentTypeDropDown", Model.ContentType, "Select your content type:", new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ContentType, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-md-2">Used in locations: </span>
            <div class="col-md-10" style="margin-bottom: 10px;">
                @foreach (City l in Model.Locations)
                {
                    if (l.CityName != null)
                    {
                        <span>@l.CityName; </span>
                    }
                }
                @if(Model.Locations.Count == 0)
                {
                    <span>No locations with this content are found! </span>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LocationEdit", Model.Location, "Select your city:", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-default" value="Save"/>
                @Html.ActionLink("Return", "ViewContent", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        </div>
        }

        <script type="text/javascript"> CKEDITOR.replace("@Html.IdFor(m => m.Text)", {});</script>
