@model zavrsni.Models.GroupListModel
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>

<table class="table">
    <tr>
        <th>Group name</th>
        <th style="width: 16%;">Group type</th>
        <th style="width: 16%;">Owner</th>
        <th style="width: 16%;">Actions</th>
    </tr>

    @foreach (Group g in Model.GroupList)
    {
        <tr>
            <td>@g.Name</td>
            <td>@g.GroupType.Name</td>
            <td>
                @if (g.IDgroupOwner != null)
                {
                    @g.User.Username
                }
                else
                {
                    <p>N/A</p>
                }
            </td>
            <td><a href="@Url.Action("Details", "Group", new {IDgroup = g.IDgroup})"><span class="btn btn-special glyphicon glyphicon-list" aria-hidden="true"></span></a>
                @if (g.IDgroup != 1)
                {
                    <a href="@Url.Action("Edit", "Group", new {IDgroup = g.IDgroup})"><span class="btn btn-special glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a href="@Url.Action("Delete", "Group", new {IDgroup = g.IDgroup})"><span class="btn btn-special glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                }
            </td>

        </tr>
    }
</table>

<div class="col-md-12">
    <div class="text-center">
        @Html.PagedListPager(Model.GroupList, page => Url.Action("Index", new { page, pageSize = Model.GroupList.PageSize }))
        Showing @Model.GroupList.FirstItemOnPage to @Model.GroupList.LastItemOnPage of @Model.GroupList.TotalItemCount Groups
    </div>
</div>

<a href="@Url.Action("Add", "Group")"><span class="btn btn-danger btn-circle btn-lg glyphicon glyphicon-plus" style="position: fixed; top: 90%; right: 20px;"></span></a>